/*.navbar {
  grid-area: navbar;
}*/

/*main {
  grid-area: main;
}*/

.product {
}

.product__image {
  width: 100%;
}

.product__info-container {
  margin: 1rem;
}

.product__description {
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .product {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: 'image info';
  }
  
  .product__image {
    grid-area: image;
  }

  .product__info-container {
    grid-area: info;
  }
}
