.hero {
  grid-column: span 5;
  background: linear-gradient(to bottom, white 15%, white 5%, transparent, transparent),
    url('./images/bg.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__container {
  height: 100vh;
  width: 100%;
  background-image: radial-gradient(circle, white 1%, transparent, transparent 99%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__title {
  font-size: 3rem;
  font-weight: 300;
}

.hero__subtitle {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  line-height: 2.5rem;
  padding: 1rem;
}

.main {
  grid-column: span 5;
}

.description {
  text-transform: none;
  text-align: justify;
  font-size: 1.2rem;
  letter-spacing: normal;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.products {
  border-bottom: 1px solid black;
}

.product {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.product img {
  width: 100%;
}

.product__description {
  text-transform: none;
  text-align: justify;
  padding-bottom: 1rem;
}

.product__button {
  text-decoration: none;
  background-color: black;
  color: white;
  font: inherit;
  padding: 1rem;
  text-transform: uppercase;
  border: 1px solid black;
}

.product__button:hover,
.product__button:active {
  background-color: white;
  border: 1px solid black;
  color: black;
  outline: none;
  cursor: pointer;
}

.product__price {
  font-size: 1.5rem;
  margin-left: 1rem;
  vertical-align: middle;
}

@media (min-width: 768px) {

  .products {
    /*max-width: 1000px;*/
    display: grid;
    margin-left: 2%;
    margin-right: 2%;
    grid-template-columns: repeat(6, 15%);
    /*grid-template-rows:;*/
    grid-column-gap: 2%;
  }

  .products__title {
    grid-column: span 6;
  }

  .product {
    grid-column: span 2;
  }

  .product__button {
    /*grid-column: span 3;*/
    /*display: block;*/
    /*order: 44;*/
  }

  .product__price {
    /*display: block;*/
    /*order: 2;*/
  }
}
